:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
  --tcb: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.no-skroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  margin-right: auto;
}

.header-logo-span {
  color: var(--dark-color);
}

.header-nav {
  display: flex;
}

.header-list {
  display: none;
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  position: relative;

  transition: color var(--tcb);
}
.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-color);
}

.header-line::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--pressed-state-color);
  border-radius: 2px;
  position: absolute;
  top: 48px;
  left: 0;
}

.header-adress {
  display: none;
}

.header-list-adress {
}

.header-mailo {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-mailo:focus,
.header-mailo:hover {
  color: var(--pressed-state-color);
}

.header-tel {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition: color var(--tcb);
}

.header-tel:focus,
.header-tel:hover {
  color: var(--pressed-state-color);
}

.btn-menu {
  cursor: pointer;
  border: none;
  background: transparent;
  margin-left: auto;
  margin-right: 0;
}

.icon-menu {
  stroke: var(--dark-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}

.menu-container {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  overflow-y: auto;
}

.menu-close-btn {
  margin-left: auto;
  margin-bottom: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;

  transform: scale(1);
  transition: transform var(--tcb), color var(--tcb),
    background-color var(--tcb);
}

.menu-close-svg {
  fill: currentColor;
}

.menu-close-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
  color: #ffffff;
  transform: scale(0.9);
}

.mobile-menu-nav {
}
.mobile-menu-list {
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);

  transition: color var(--tcb);
}

.menu-adress {
  margin-top: auto;
}

.mobile-menu-adress {
  max-width: 340px;
  margin-bottom: 48px;
}

.menu-adress-item {
  color: var(--text-color);
  transition: color var(--tcb);
}
.menu-adress-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-tel {
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 1.11;
  color: currentColor;
}

.mobile-menu-mailo {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: currentColor;
}

.menu-adress-item:is(:hover, :focus),
.mobile-menu-link:is(:hover, :focus) {
  color: var(--pressed-state-color);
}

.menu-soc-list {
  display: flex;
  gap: 30px;
}
.menu-soc-item {
  width: 40px;
  height: 40px;
}
.menu-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--tcb);
}

.menu-soc-icon {
}

.menu-soc-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  background-color: var(--dark-color);
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      var(--hero-background-color),
      var(--hero-background-color)
    ),
    url(../images/fon-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        var(--hero-background-color),
        var(--hero-background-color)
      ),
      url(../images/fon-hero-mobile\ 2x.jpg);
  }
}

.hero-heading {
  max-width: 320px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 16px 32px;

  transform: scale(1);
  transition: transform var(--tcb), background--color var(--tcb);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-color);
  transform: scale(0.9);
}

.feature {
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-feature {
}

.feature-heading {
  opacity: 0;
  display: none;
}
.feature-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 96px;
}

.feature-item {
}

.feature-picture {
  display: none;
  width: 100%;
  background: var(--light-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
}

.feature-svg {
  display: none;
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
  text-align: center;
}
.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.location {
  display: none;
}
.location-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.location-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.location-item {
}
.tem {
  background: var(--light-color);
  padding-top: 96px;
  padding-bottom: 128px;
}

.mini-container {
  max-width: 264px;
}

.tem-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.tem-list {
}
.tem-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.tem-item:not(:last-child) {
  margin-bottom: 72px;
}

.tem-description {
  text-align: center;
  background: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
}

.tem-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.tem-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.tem-soc-list {
  display: flex;
  justify-content: space-around;
}

.tem-soc-item {
  width: 40px;
  height: 40px;
}

.tem-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--tcb);
}

.tem-soc-icon {
}

.tem-soc-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  color: var(--subtle-text-color);

  transition: border-color var(--tcb), color var(--tcb);
}

.customers-svg {
  fill: currentColor;
}

.customers-link:is(:hover, :focus) {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}

.footer {
  background: var(--dark-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}
.footer-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  align-items: center;
}
.footer-logo-span {
  color: var(--light-color);
}
.footer-text {
  max-width: 268px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-top: 16px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--tcb);
}

.social-link-icon {
}

.social-link:is(:hover, :focus) {
  background-color: var(--success-color);
}

.footer-form-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 16px;
}

.footer-fiel {
  width: 100%;
  padding: 8px 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: none;
}

.footer-fiel::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-fiel:hover,
.footer-fiel:not(:placeholder-shown) {
  border: 1px solid var(--pressed-state-color);
}

.form-btn {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px 64px 8px 24px;
  background: var(--primary-brand-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  overflow: hidden;

  transform: scale(1);
  transition: transform var(--tcb), background--color var(--tcb);
}

.btn-icon {
  position: absolute;
  right: 24px;
  fill: #ffffff;
  opacity: 1;

  transform: translate(0);
  transition: transform var(--tcb), opacity var(--tcb);
}

.form-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
  transform: scale(0.9);
}

.form-btn:hover .btn-icon {
  transform: translate(35px, -35px);
  opacity: 0;
}

.card {
  padding-top: 48px;
  padding-bottom: 48px;
}

.card-container {
  max-width: 396px;
  margin-left: auto;
  margin-right: auto;
}

.filter {
}
.filter-heading {
  opacity: 0;
}
.filter-list {
  display: flex;
  justify-content: left;
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.filter-item {
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;

  transition: background-color var(--tcb), color var(--tcb),
    box-shadow var(--tcb);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--pressed-state-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  overflow: hidden;
}
.card-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow var(--tcb);
}

.card-item:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-link {
  position: relative;
}

.card-overley {
  width: 100%;
  height: 74%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.card-overley-text {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  background-color: var(--primary-brand-color);
  padding: 40px 32px 164px 40px;
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--tcb);
}

.card-link:hover .card-overley-text {
  transform: translateY(0);
}

.card-description {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--accent-color);
  border-top: 0;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-color);
  opacity: 1;
  visibility: visible;

  transition: opacity var(--tcb);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(45deg) scale(0.2);
}

.modal {
  max-width: 396px;
  max-height: 650px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  opacity: 1;
  transform: rotate(0) scale(1);
  transition: transform var(--tcb), opacity var(--tcb);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;

  transform: scale(1);
  transition: transform var(--tcb), color var(--tcb),
    background-color var(--tcb);
}

.close-svg {
  fill: currentColor;
}

.modal-close-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
  color: #ffffff;
  transform: scale(0.9);
}

.modal-heading {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 14px;
}

.modal-form {
}
.form-field {
  margin-bottom: 8px;
}
.form-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--subtle-text-color);
}
.form-wraper {
  width: 100%;
  position: relative;
}
.modal-inp {
  width: 100%;
  color: #000;
  padding: 10px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;

  transition: border var(--tcb);
}
.modal-icon {
  position: absolute;
  pointer-events: none;
  fill: var(--dark-color);
  left: 25px;
  top: 5px;
  transform: translate(-50%, 50%);

  transition: fill var(--tcb);
}

.modal-inp:is(:hover, :focus),
.modal-inp:not(:placeholder-shown) {
  border: 1px solid var(--primary-brand-color);
}
.modal-inp:not(:placeholder-shown) + .modal-icon {
  fill: var(--primary-brand-color);
}
.modal-inp:is(:hover, :focus) + .modal-icon {
  fill: var(--primary-brand-color);
}

.form-coment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;

  transition: border var(--tcb);
}

.modal-textarea:not(:placeholder-shown),
.modal-textarea:is(:hover, :focus),
.modal-inp:is(:hover, :focus),
.modal-inp:not(:placeholder-shown) {
  border: 1px solid var(--primary-brand-color);
}

.modal-checbox {
  margin-bottom: 24px;
}
.checbox {
}

.checbox-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  flex-wrap: wrap;
}

.checbox-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;

  transition: background-color var(--tcb);
}

.checbox:checked + .checbox-text::before {
  background-color: var(--pressed-state-color);
  border: none;
  background-image: url(../images/chec.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.checbox-link {
  padding-left: 3px;
}

.modal-btn {
  padding: 16px 32px;
  width: 169px;
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;

  transform: scale(1);
  transition: transform var(--tcb), background--color var(--tcb);
}

.modal-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
  transform: scale(0.9);
}
